@import url(./modules/global.css);
@import url(./modules/light.css);
@import url(./modules/dark.css);


article,
#banner,
#blog-posts { 
    height: inherit; /* Updates automatically if <main> height re-computed. */
}

main,
article,
#blog-posts { 
    top: var(--header-height); /* Offsets main to account for fixed header. */
}

header,
#banner {
    text-align: center;
}

header > p,
header > div { 
    margin-block-start: 1rem; /* Offsets text from top-edge of screen. */
}

footer,
#banner { 
    display: flex;
    justify-content: center;
}

#banner {
    flex-direction: column;
    align-items: center; /* Horizontally centers the banner. */
}

#banner > h1 {
    font-size: min(5vw, 5rem);
}

article,
#blog-posts { 
    padding-inline: 3rem; /* Adds space either side of page content. */
}

h1,
h2, 
p,
#blog-posts > a {
    color: var(--font-color);
}

h1,
h2,
h3,
h4,  
h5 {
    font-weight: lighter;
}

h1,
#blog-posts h3 { 
    font-family: 'Fredericka the Great', Arial, Helvetica, Sans-Serif;
}

p,
h2,
#blog-posts > a {
    font-family: 'Roboto', Helvetica, Sans-Serif;
}

header h2,
#blog-posts h4, 
#blog-posts h5 { 
    font-variant-caps: all-small-caps;
}

header h1 { 
    font-size: 2.6rem;
}

header h2 { 
    font-size: 1.7rem;
    margin-block: 0.5rem; /* Vertical spacing between sub-title and title. */
    display: inline-block;
    border-top: 0.1rem solid var(--primary-color); /* Horizontal rule between title & sub-title. */
}

header > p { 
    font-size: min(2.7vw, 1.4rem);
}

article p,
#blog-posts p {
    text-align: justify;
}

article p { 
    line-height: 2.6rem;
}

p,
#blog-posts h5 { 
    font-size: 1.4rem;
}

#blog-posts h3 { 
    font-size: 2rem;
}

#blog-posts h4 { 
    font-size: 1.6rem;
}

#blog-posts p { 
    line-height: 1.8rem;
    font-size: 1.3rem;
    margin-block-start: 0.75rem;
}

#blog-posts > a {
    display: block;
}

#blog-posts h5 { 
    display: inline;
}

#blog-posts h5:not(:last-child) { 
    margin-right: 2rem; /* Add right-hand spacing between all h5 elements, except last. */
}

article p,
#blog-posts a { 
    margin-inline: auto; /* Horizontal center alignment. */
    max-width: 75rem; /* Narrow column width for wide-screens. */
}

#blog-posts a:not(:last-child) { 
    padding-block-end: 1rem;
    border-bottom: 0.1rem solid var(--primary-color); /* Underline blog post links, except last. */
    margin-block-end: 0.75rem;
}

a {
    text-decoration: none;
}

a:hover,
a:focus { 
    opacity: 0.6;
}

a:active { 
    opacity: 0.4;
}

footer > a:hover > img {
    transform: scale(1.1, 1.1); /* Icons enlarge on hover. */
    transform-origin: center;
    transition: transform linear 0.05s;
}

/* Banner appears to 'type' onto the screen. */

#banner > h1 { 
    max-width: fit-content; /* Prevents caret from continuing to the screen edge. */
    overflow: hidden; /* Hides characters that have not yet been 'typed'. */
    white-space: nowrap; /* Ensures banner remains on a single line. */
    padding-inline: 0.3rem; /* Space between final character and caret. */
    border-right: .15em solid var(--primary-color); /* Simulates the caret. */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret 1s step-end infinite;
}

@keyframes typing { 
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--primary-color); }
}